/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.work-sans-<uniquifier> {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
html {
    --main-color: #10CAB7;
    --hover: #00E1FF;
    --second-main: #F6F6F6;
    --phargraph: #545B6B;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
    scrollbar-width: thin;
    scrollbar-color: #10CAB7 #f1f1f1;
    scroll-behavior: smooth;

    & i {
        color: var(--main-color);
    }

}

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #10CAB7;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* For Firefox */

::-moz-scrollbar {
    width: 12px;
}

::-moz-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-moz-scrollbar-thumb {
    background: #10CAB7;
    border-radius: 10px;
}






section#Home {
    height: 100vh;
    background-image: url(../assets/patrick-hendry-37ZuGYD3JOk-unsplash.jpg);
    background-size: 100% 100%;
    margin-bottom: 30px;
}

header {
    width: 100%;
    min-height: 80px;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}

.container {
    width: 60%;
    margin: auto;

    text-align: center;
}

.nav {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;

    & .toggle {
        position: relative;

        & .too {
            display: flex;
            justify-content: end;
            flex-direction: column;
            flex-wrap: wrap-reverse;
        }

        &:hover {
            cursor: pointer;

            & span:nth-child(2) {
                width: 30px;
            }

            & .links-navigate {
                display: flex;
            }
        }

        & span {
            display: block;
            margin-bottom: 5px;
            background-color: #2C4755;
        }

        & span:first-child {
            width: 30px;
            height: 3px;

        }

        & span:nth-child(2) {
            width: 50%;
            height: 3px;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -ms-transition: all 0.5s;
            -o-transition: all 0.5s;
        }

        & span:last-child {
            width: 30px;
            height: 3px;
        }

        & .links-navigate {

            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 20px;
            position: absolute;
            top: 130%;
            left: -380%;
            background-color: var(--second-main);
            border-radius: 5px;
            padding: 25px;
            min-height: 100%;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            display: none;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -ms-transition: all 0.5s;
            -o-transition: all 0.5s;

            &::after {
                content: "";
                border-width: 13px;
                border-style: solid;
                border-color: transparent transparent var(--second-main) transparent;
                position: absolute;
                top: -13%;
                right: 1%;
            }

            & a {
                text-decoration: none;
                color: var(--phargrap);

                &:hover {
                    font-weight: 700;
                    transform: scale(1.02);
                    -webkit-transform: scale(1.02);
                    -moz-transform: scale(1.02);
                    -ms-transform: scale(1.02);
                    -o-transform: scale(1.02);
                }
            }
        }
    }

}

.logo {
    width: 70px;

    & img {
        width: 100%;
    }
}

.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & h1 {
        font-size: 50px;
        color: var(--main-color);
        margin-bottom: 10px;
        font-weight: 900;
    }

    & p {
        text-align: center;
        line-height: 1.5;
        width: 320px;
        max-width: 90%;
        color: var(--phargrap);
    }
}

.hero-contuine {
    width: 100%;
    padding: 25px 0;
}

.hero-con-content {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    max-width: 100%;

    & span i {
        color: var(--main-color);
    }

    & .cr {
        box-sizing: border-box;
        width: 30%;
        padding: 20px;
        margin: 20px 0;
        text-align: center;

        &:hover {
            transform: scale(1.05);
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            box-shadow: 1PX 1PX 15PX #5d5a5a;
            -webkit-transform: scale(1.05);
            -moz-transform: scale(1.05);
            -ms-transform: scale(1.05);
            -o-transform: scale(1.05);
        }
    }
}

.container {
    & .ser-Head {
        position: relative;
        width: 100%;

        & h2 {
            font-size: 80px;
            font-weight: 900;
            opacity: 0.3;
        }

        & p {
            width: 100%;
            position: absolute;
            font-size: 18px;
            font-weight: 600;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
        }
    }
}

.ser-content {
    display: flex;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;

    & .card {
        display: flex;
        padding: 20px;

        & h3 {
            align-self: flex-start;
        }

        & i {
            align-self: baseline;
            padding-top: 30px;
        }

        width: calc(50% - 50px);
    }
}

.square-block {
    align-self: center;

    & .square {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            background-color: #2C4755;
            width: 120px;
            height: 280px;
            top: -20%;
            left: 60%;
            z-index: -1;
        }

        & img {
            width: 200px;
            height: 200px;
        }
    }
}

.portifolio {
    box-sizing: border-box;
    margin-top: 30px;
    padding: 20px 0;

    & .por-content {
        padding: 0 20px;
    }

    background-color: var(--second-main);

    & .items {
        display: flex;
        justify-content: space-evenly;
    }

    & .item {
        width: 50%;
        padding: 20px;

        & img {
            width: 100%;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }

        & .item-content {
            padding: 10px 10px;
            background-color: white;
        }
    }
}

.contact {
    margin-bottom: 25px;

    & .container {
        & .con-content {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
        }

        & h3 {
            font-size: 35px;
            margin: 0;
            color: var(--phargraph);
        }

        & h3+p {
            font-size: 30px;
            font-weight: 700;
            color: var(--main-color);
            margin-left: 20px;
            padding-bottom: 0;
        }

        & .links-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            & p {
                font-size: 18px;
                margin-left: 50px;
            }

            & i {
                transition: all 0.5s;
                color: var(--phargraph);

                -webkit-transition: all 0.5s;
                -moz-transition: all 0.5s;
                -ms-transition: all 0.5s;
                -o-transition: all 0.5s;

                &:hover {
                    color: black;
                    cursor: pointer;
                }
            }

        }
    }
}

footer {
    width: 100%;
    padding: 10px 0;
    background-color: #2C4755;
    text-align: center;
    color: white;

    & span {
        color: var(--main-color);

    }
}


@media (max-width: 575.98px) {
    .hero-con-content {
        display: block;

        & .cr {
            width: 100%;
        }
    }

    .container {
        & .ser-Head {
            & h2 {
                font-size: 45px;
                font-weight: 900;
            }

            & p {
                font-size: 14px;
            }
        }
    }


    .ser-content {
        display: block;
    }

    .cards {
        & .card {
            width: 100%;
        }

        margin-bottom: 50px;
    }

    .square-block {
        margin-top: 30px;

        & .square {
            &::after {
                height: 340px;
                top: -20%;
                left: 70%;
            }

            & img {
                width: 250px;
                height: 250px;
            }
        }
    }

    .portifolio {
        & .items {
            display: block;
        }

        & .item {
            width: 90%;
        }
    }

    .contact {
        & .container {
            & h3 {
                font-size: 15px;
            }

            & h3+p {
                font-size: 15px;
                font-weight: 400;
                margin-left: 10px;
            }

            & .links-icon {
                gap: 10px;
                & p {
                    font-size: 14px;
                    margin-left: 25px;
                }
                & i{
                    font-size: 14px;
                }
            }
        }
    }

}

@media (min-width: 576px) and (max-width: 767.98px) {
    .hero-con-content {
        display: block;

        & .cr {
            width: 100%;
        }
    }

    .ser-content {
        display: block;
    }

    .cards {
        & .card {
            width: 100%;
        }

        margin-bottom: 50px;
    }

    .square-block {
        margin-top: 30px;

        & .square {
            &::after {
                height: 400px;
                top: -20%;
                left: 70%;
            }

            & img {
                width: 300px;
                height: 300px;
            }
        }
    }

    .portifolio {
        & .items {
            display: flex;
            flex-wrap: wrap;
        }

        & .item {
            width: 40%;
        }
    }
    .contact {
        & .container {
            & h3 {
                font-size: 20px;
            }

            & h3+p {
                font-size: 16px;
                font-weight: 500;
                margin-left: 20px;
            }

            & .links-icon {
                gap: 10px;
                & p {
                    font-size: 14px;
                    margin-left: 25px;
                }
                & i{
                    font-size: 14px;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .ser-content {
        display: block;
    }

    .cards {
        width: 100%;
        margin-bottom: 50px;
    }

    .square-block {
        margin-top: 30px;

        & .square {
            &::after {
                height: 400px;
                top: -20%;
                left: 65%;
            }

            & img {
                width: 300px;
                height: 300px;
            }
        }
    }
    .contact {
        & .container {
            & h3 {
                font-size: 30px;
            }

            & h3+p {
                font-size: 20px;
                font-weight: 500;
                margin-left: 20px;
            }

            & .links-icon {
                gap: 10px;
                & p {
                    font-size: 14px;
                    margin-left: 25px;
                }
                & i{
                    font-size: 14px;
                }
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .ser-content {
        display: block;
    }

    .cards {
        margin-bottom: 50px;
    }

    .square-block {
        margin-top: 30px;

        & .square {
            &::after {
                height: 400px;
                top: -20%;
                left: 60%;
            }

            & img {
                width: 300px;
                height: 300px;
            }
        }
    }
}

@media (min-width: 1200px) {}